doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

    title My App

    link(href='lib/ionic/css/ionic.css', rel='stylesheet')
    //link(href='lib/ionic-material-design-lite/dist/css/ionic.material-design-lite.min.css', rel='stylesheet')

    link(href="css/ionic.app.css" rel="stylesheet")

    // ionic/angularjs js
    script(src='lib/ionic/js/ionic.bundle.js')
    //script(src='lib/ionic-material-design-lite/dist/js/ionic.material-design-lite.bundle.js')

    // cordova script (this will be a 404 during development)
    script(src='cordova.js')
    script(src='js/bundle.js')

  body(ng-app='starter')
    ion-nav-view